src/main/mule/hello.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="25114e95-73a9-4ed1-851b-381a7f408a04" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloFlow" doc:id="07b81485-5271-46ba-b20b-4f4279d792ad" >
		<http:listener doc:name="Listener" doc:id="04a352d9-4860-4a17-a105-e8f83b16fc9d" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload doc:name="Set Payload" doc:id="7ddbe81d-4744-47d8-88cb-5327c97bff28" value="#[payload]"/>
	</flow>
</mule>
